flows/AccountTeamMember_Owner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>PriorAccountTeamMemberOwner</name>
        <label>PriorAccountTeamMemberOwner</label>
        <locationX>261</locationX>
        <locationY>34</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PriorOwnerExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeletePriorOwner</targetReference>
            </connector>
            <label>PriorOwnerExists</label>
        </rules>
        <rules>
            <name>OwnerDoesntExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindContactID</targetReference>
            </connector>
            <label>OwnerDoesntExist</label>
        </rules>
    </decisions>
    <interviewLabel>AccountTeamMember-Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountTeamMember-Owner3</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>NewAccoutTeamMember</name>
        <label>NewAccoutTeamMember</label>
        <locationX>298</locationX>
        <locationY>593</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Account Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Member__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Team__c</object>
    </recordCreates>
    <recordDeletes>
        <name>DeletePriorOwner</name>
        <label>DeletePriorOwner</label>
        <locationX>573</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>FindContactID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriorTeamMemberId</elementReference>
            </value>
        </filters>
        <object>Account_Team__c</object>
    </recordDeletes>
    <recordLookups>
        <name>FindContactID</name>
        <label>FindContactID</label>
        <locationX>306</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewAccoutTeamMember</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FindContactID_OtherEmail</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerIdEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindContactID_OtherEmail</name>
        <label>FindContactOtherEmail</label>
        <locationX>637</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewAccoutTeamMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RES_Other_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerIdEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindPreviousAccountMemberOwners</name>
        <label>FindPreviousAccountMemberOwners</label>
        <locationX>44</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PriorAccountTeamMemberOwner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FindContactID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Owner</stringValue>
            </value>
        </filters>
        <object>Account_Team__c</object>
        <outputAssignments>
            <assignToReference>PriorTeamMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>FindPreviousAccountMemberOwners</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountTeamObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Team__c</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerIdEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriorTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
