flows/AccountTeamMember_Exec.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>PriorExecDecision</name>
        <label>PriorExecDecision</label>
        <locationX>376</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PriorExecExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeletePriorExec</targetReference>
            </connector>
            <label>PriorExecExists</label>
        </rules>
        <rules>
            <name>ExecDoesntExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindContactId</targetReference>
            </connector>
            <label>ExecDoesntExist</label>
        </rules>
    </decisions>
    <interviewLabel>AccountTeamMember-Exec {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountTeamMember-Exec</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>NewAccountTeamMember</name>
        <label>NewAccountTeamMember</label>
        <locationX>467</locationX>
        <locationY>430</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Executive Champion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Member__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Team__c</object>
    </recordCreates>
    <recordDeletes>
        <name>DeletePriorExec</name>
        <label>DeletePriorExec</label>
        <locationX>619</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>FindContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriorTeamMemberId</elementReference>
            </value>
        </filters>
        <object>Account_Team__c</object>
    </recordDeletes>
    <recordLookups>
        <name>FindContactId</name>
        <label>FindContactId</label>
        <locationX>462</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewAccountTeamMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindPriorExecSponsor</name>
        <label>FindPriorExecSponsor</label>
        <locationX>95</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PriorExecDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executive Champion</stringValue>
            </value>
        </filters>
        <object>Account_Team__c</object>
        <outputAssignments>
            <assignToReference>PriorTeamMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>FindPriorExecSponsor</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriorTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
