flows/Australia_Opportunity_Follow_Up.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Owner_to_Followup</name>
        <label>Email Owner to Followup</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Emails</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_FollowUpEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Send_Emails.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OrgWideEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce Opportunity Follow Up</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <constants>
        <name>OrgWideEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>salesforce.system@res-group.com</stringValue>
        </value>
    </constants>
    <formulas>
        <name>Tomorrw_TodayinAustralia</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <interviewLabel>Australia Opportunity Follow-Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Australia Opportunity Follow-Up</label>
    <loops>
        <name>Send_Emails</name>
        <label>Send Emails</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Follow_Up_Date_Aus_TODAY</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Owner_to_Followup</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Follow_Up_Date_Aus_TODAY</name>
        <label>Follow-Up Date = AUS TODAY</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AUS_Follow_Up_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tomorrw_TodayinAustralia</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Follow_Up_Date_Aus_TODAY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126N000000PF8FQAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-09-08</startDate>
            <startTime>16:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body_FollowUpEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!Send_Emails.Owner.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Send_Emails.Owner.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;Today, {!Send_Emails.AUS_Follow_Up_Date__c}, &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;is the Follow-Up Date &lt;/span&gt;for the &lt;b&gt;{!Send_Emails.Name} opportunity!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;https://res-group--partial.lightning.force.com/lightning/r/Opportunity/{!Send_Emails.Id}/view&lt;/p&gt;</text>
    </textTemplates>
</Flow>
