flows/AutoCreateOpp.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>CheckboxForAutoCreate</name>
        <label>CheckboxForAutoCreate</label>
        <locationX>249</locationX>
        <locationY>149</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CheckboxFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateToTrue</targetReference>
            </connector>
            <label>CheckboxFalse</label>
        </rules>
        <rules>
            <name>CheckboxTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateToFalse_0_0</targetReference>
            </connector>
            <label>CheckboxTrue</label>
        </rules>
    </decisions>
    <interviewLabel>AutoCreateOpp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoCreateOpp3</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindProject</name>
        <label>FindProject</label>
        <locationX>83</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckboxForAutoCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <object>RES_Projects__c</object>
        <outputAssignments>
            <assignToReference>Checkbox</assignToReference>
            <field>Auto_Create_Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateToFalse_0_0</name>
        <label>UpdateToFalse</label>
        <locationX>652</locationX>
        <locationY>256</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Create_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>RES_Projects__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToTrue</name>
        <label>UpdateToTrue</label>
        <locationX>643</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Create_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>RES_Projects__c</object>
    </recordUpdates>
    <startElementReference>FindProject</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
