flows/Business_Line_Auto_Formula.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Sum of BL Rev is changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiPicklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Business_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>BL ISBLANK</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Opportunity].Development_Revenue__c &gt;0, &quot;Development&quot;,&quot;&quot;)&amp;&quot;;&quot;&amp; 
IF([Opportunity].Wind_Constr_Revenue__c &gt;0, &quot;Wind Const&quot;,&quot;&quot;)&amp;&quot;;&quot;&amp; IF([Opportunity].Solar_Constr_Revenue__c  &gt;0, &quot;Solar Const&quot;,&quot;&quot;)&amp;&quot;;&quot;&amp; 
IF([Opportunity].Storage_Revenue__c &gt;0, &quot;Storage&quot;,&quot;&quot;)&amp;&quot;;&quot;&amp; 
IF([Opportunity].Transmission_Revenue__c &gt;0, &quot;T&amp;D&quot;,&quot;&quot;)&amp;&quot;;&quot;&amp; 
IF(FIND([Opportunity].RecordType.Name,&quot;Support Services&quot;)&gt;0, &quot;Support Services&quot;,&quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_2044862689</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Development_Revenue__c} &gt;0, &quot;Development&quot;,&quot;&quot;)&amp;&quot;;&quot;&amp; 
IF({!myVariable_current.Wind_Constr_Revenue__c} &gt;0, &quot;Wind Const&quot;,&quot;&quot;)&amp;&quot;;&quot;&amp; IF({!myVariable_current.Solar_Constr_Revenue__c}  &gt;0, &quot;Solar Const&quot;,&quot;&quot;)&amp;&quot;;&quot;&amp; 
IF({!myVariable_current.Storage_Revenue__c} &gt;0, &quot;Storage&quot;,&quot;&quot;)&amp;&quot;;&quot;&amp; 
IF({!myVariable_current.Transmission_Revenue__c} &gt;0, &quot;T&amp;D&quot;,&quot;&quot;)&amp;&quot;;&quot;&amp; 
IF(FIND({!myVariable_current.RecordType.Name},&quot;Support Services&quot;)&gt;0, &quot;Support Services&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Opportunity].Owner.Profile.Name = &quot;RES Storage&quot;,&quot;Storage&quot;,
IF([Opportunity].RecordType.DeveloperName = &quot;Origination&quot;,&quot;Origination&quot;,
IF(FIND([Opportunity].RecordType.Name, &quot;Support Services&quot;)&gt;0, &quot;Support Services&quot;,
IF([Opportunity].RecordType.DeveloperName = &quot;Development&quot;, &quot;Development&quot;, 
IF([Opportunity].Technology_Order__c =&quot;1&quot;,&quot;Wind Const&quot;,
IF([Opportunity].Technology_Order__c =&quot;2&quot;,&quot;Solar Const&quot;,
IF([Opportunity].Owner.Profile.Name = &quot;RES Biz Dev / Constr&quot;,&quot;T&amp;D&quot;,&quot;&quot;
)))))
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_7846811194</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Owner.Profile.Name} = &quot;RES Storage&quot;,&quot;Storage&quot;,
IF({!myVariable_current.RecordType.DeveloperName} = &quot;Origination&quot;,&quot;Origination&quot;,
IF(FIND({!myVariable_current.RecordType.Name}, &quot;Support Services&quot;)&gt;0, &quot;Support Services&quot;,
IF({!myVariable_current.RecordType.DeveloperName} = &quot;Development&quot;, &quot;Development&quot;, 
IF({!myVariable_current.Technology_Order__c} =&quot;1&quot;,&quot;Wind Const&quot;,
IF({!myVariable_current.Technology_Order__c} =&quot;2&quot;,&quot;Solar Const&quot;,
IF({!myVariable_current.Owner.Profile.Name} = &quot;RES Biz Dev / Constr&quot;,&quot;T&amp;D&quot;,&quot;&quot;
)))))
))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Opportunity].BL_Sum__c &gt;0,
OR(
ISNEW(),
ISCHANGED([Opportunity].BL_Sum__c ) 
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.BL_Sum__c} &gt;0,
OR(
ISNEW(),
ISCHANGED({!myVariable_current.BL_Sum__c} ) 
))</expression>
    </formulas>
    <interviewLabel>Business_Line_Auto_Formula-12_InterviewLabel</interviewLabel>
    <label>Business Line - Auto Formula for Multi Select</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Business Line</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>MultiPicklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Line</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Business_Line__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_2044862689</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Update BL</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>MultiPicklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Line</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Business_Line__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_7846811194</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
