flows/CampaignMember_Add_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>ContactOrLead</name>
        <label>ContactOrLead</label>
        <locationX>251</locationX>
        <locationY>2</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindMatchingCampaignMembers_1</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindMatchingCampaignMembers_0</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>DuplicateCampaignMember_0</name>
        <label>DuplicateCampaignMember</label>
        <locationX>461</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Ignore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes_Ignore</label>
        </rules>
        <rules>
            <name>No_AddCampaignMember</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewCampaignMember</targetReference>
            </connector>
            <label>No_AddCampaignMember</label>
        </rules>
    </decisions>
    <decisions>
        <name>DuplicateCampaignMember_0_0</name>
        <label>DuplicateCampaignMember</label>
        <locationX>37</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Ignore_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes_Ignore</label>
        </rules>
        <rules>
            <name>No_AddCampaignMember_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewCampaignMember_0</targetReference>
            </connector>
            <label>No_AddCampaignMember</label>
        </rules>
    </decisions>
    <interviewLabel>CampaignMember-Add Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CampaignMember- Add from Activity2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>NewCampaignMember</name>
        <label>NewCampaignMember</label>
        <locationX>483</locationX>
        <locationY>472</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>NewCampaignMember_0</name>
        <label>NewCampaignMember</label>
        <locationX>36</locationX>
        <locationY>471</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>FindMatchingCampaignMembers_0</name>
        <label>FindMatchingCampaignMembers</label>
        <locationX>38</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DuplicateCampaignMember_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>DuplicateContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindMatchingCampaignMembers_1</name>
        <label>FindMatchingCampaignMembers</label>
        <locationX>455</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DuplicateCampaignMember_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>DuplicateContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>ContactOrLead</startElementReference>
    <status>Active</status>
    <variables>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DuplicateContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
