flows/Daily_Event_Check_Contacts_Last_Client_Meeting.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>varCollectionforContactUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lookup_LCM_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_Contacts_with_each_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the End Date of the Event to the Last Client Meeting field of the contact in the loop</description>
        <name>Update_LCM_Value</name>
        <label>Update LCM Value</label>
        <locationX>138</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>Lookup_LCM_Value.Last_Client_Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_Event_End_Today</name>
        <label>Does the Event End Today?</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event_Who_Relations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Last_Client_Meeting_be_updated</name>
        <label>Should Last Client Meeting be updated?</label>
        <locationX>270</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Get_the_Contacts_with_each_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Update_Last_Client_Meeting_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Lookup_LCM_Value.Last_Client_Meeting__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LCM_Value</targetReference>
            </connector>
            <label>Update Last Client Meeting field</label>
        </rules>
    </decisions>
    <description>Flow will run daily for the Events with an End Date of Today.
Will check the contacts related to each event and update their Last Client Meeting field.  Only reason LCM wouldn&apos;t update is if the contact already has a value that equals today&apos;s date.</description>
    <interviewLabel>Daily Event Check - Contacts Last Client Meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Event Check - Contacts Last Client Meeting</label>
    <loops>
        <description>Loops through the Event IDs collected and grabs the related contacts.</description>
        <name>Get_the_Contacts_with_each_Event</name>
        <label>Get the Contacts with each Event</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <collectionReference>Get_Event_Who_Relations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_LCM_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event_Who_Relations</name>
        <label>Get Event Who Relations</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Contacts_with_each_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventWhoRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gathers the Events that have an end date of today -- in order to check if the contacts listed on the event need their &quot;Last Client Meeting&quot; field updated.</description>
        <name>Get_Events_with_End_Date_of_TODAY</name>
        <label>Get Events with End Date of TODAY</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Event_End_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <field>EndDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EventID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Pulls the Last Client Meeting value of each contact related to the event</description>
        <name>Lookup_LCM_Value</name>
        <label>Lookup LCM Value</label>
        <locationX>270</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Last_Client_Meeting_be_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Contacts_with_each_Event.RelationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Last_Client_Meeting__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the contacts that had their Last Client Meeting field changed.</description>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>50</locationX>
        <locationY>1428</locationY>
        <inputReference>varCollectionforContactUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Events_with_End_Date_of_TODAY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attendees_List__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Internal Meeting</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-02</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EventID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionforContactUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>End Date of the current Event</description>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
