flows/France_Deselecting_Invoiced_box.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Was_Invoiced_Previously_Selected</name>
        <label>Was Invoiced Previously Selected?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No_Invoiced_Prev_False</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoiced_Prev_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Invoiced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Invoiced</targetReference>
            </connector>
            <label>Yes_Invoiced_Prev_True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_To_Be_Invoiced_previously_selected</name>
        <label>Was &quot;To Be Invoiced&quot; previously selected?</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Was_Invoiced_Previously_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_TBI_Prev_False</defaultConnectorLabel>
        <rules>
            <name>Yes_TBI_Prev_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.To_Be_Invoiced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_To_Be_Invoiced</targetReference>
            </connector>
            <label>Yes_TBI_Prev_True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Remove_Invoiced_Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Name}, &quot;Invoiced: &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Remove_ToBeInvoiced_Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Name}, &quot;To Be Invoiced: &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ToBeInvoiced_NameSubstitution</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Name}, &quot;Invoiced: &quot;, &quot;To Be Invoiced: &quot;)</expression>
    </formulas>
    <interviewLabel>France - Deselecting Invoiced box {!$Flow.CurrentDateTime}</interviewLabel>
    <label>France - Deselecting Invoice Checkboxes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Remove_Invoiced</name>
        <label>Remove &quot;Invoiced: &quot;</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Remove_Invoiced_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_To_Be_Invoiced</name>
        <label>Remove &quot;To Be Invoiced: &quot;</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Remove_ToBeInvoiced_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_To_Be_Invoiced_previously_selected</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>To_Be_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>To Be Invoiced: </stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Invoiced: </stringValue>
            </value>
        </filters>
        <filters>
            <field>RES_Geography__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
