flows/Investor_Account_Onshore_Inflation_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Checks if the Onshore_GB_CPI_Inflation__c field, and its related fields, triggered the Flow -- then moves on to the next Decision element</description>
        <name>CPI_GB</name>
        <label>CPI (GB) ?</label>
        <locationX>578</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>CPI_IE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Trigger Here</defaultConnectorLabel>
        <rules>
            <name>CPI_GB_Triggered_Flow</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onshore_GB_CPI_Inflation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onshore_GB_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Solar_GB_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_GB_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_CPI_GB_Fields_Are_Null</targetReference>
            </connector>
            <label>CPI (GB) Triggered Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPI_IE</name>
        <label>CPI (IE) ?</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>RPI_GB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Trigger Here</defaultConnectorLabel>
        <rules>
            <name>CPI_IE_Triggered_Flow</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onshore_IE_CPI_Inflation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onshore_IE_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Solar_IE_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_IE_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_CPI_IE_Fields_Are_Null</targetReference>
            </connector>
            <label>CPI (IE) Triggered Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>RPI_GB</name>
        <label>RPI (GB) ?</label>
        <locationX>578</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>RPI_IE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Trigger Here</defaultConnectorLabel>
        <rules>
            <name>RPI_GB_Triggered_Flow</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onshore_GB_RPI_Inflation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onshore_GB_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Solar_GB_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_GB_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_RPI_GB_Fields_Are_Null</targetReference>
            </connector>
            <label>RPI (GB) Triggered Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>RPI_IE</name>
        <label>RPI (IE) ?</label>
        <locationX>578</locationX>
        <locationY>1967</locationY>
        <defaultConnectorLabel>No Trigger Here</defaultConnectorLabel>
        <rules>
            <name>RPI_IE_Triggered_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onshore_IE_RPI_Inflation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onshore_IE_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Solar_IE_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_IE_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_RPI_IE_Fields_Are_Null</targetReference>
            </connector>
            <label>RPI (IE) Triggered Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_CPI_GB_Fields_Are_Null</name>
        <label>Which CPI (GB) Fields Are Null</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Storage_CPI_GB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Just Storage CPI (GB) Null</defaultConnectorLabel>
        <rules>
            <name>Both_CPI_GB_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Solar_GB_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_GB_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Both_CPI_GB_Fields</targetReference>
            </connector>
            <label>Both CPI (GB) Null</label>
        </rules>
        <rules>
            <name>Just_Solar_CPI_GB_Nulll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Solar_GB_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Solar_CPI_GB</targetReference>
            </connector>
            <label>Just Solar CPI (GB) Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_CPI_IE_Fields_Are_Null</name>
        <label>Which CPI (IE) Fields Are Null ?</label>
        <locationX>314</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Update_Storage_CPI_IE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Just Storage CPI (IE) Null</defaultConnectorLabel>
        <rules>
            <name>Both_CPI_IE_Fields_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Solar_IE_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_IE_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Both_CPI_IE_Fields</targetReference>
            </connector>
            <label>Both CPI (IE) Fields Null</label>
        </rules>
        <rules>
            <name>Just_Solar_CI_IE_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Solar_IE_CPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Solar_CPI_IE</targetReference>
            </connector>
            <label>Just Solar CPI (IE) Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_RPI_GB_Fields_Are_Null</name>
        <label>Which RPI (GB) Fields Are Null?</label>
        <locationX>314</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Update_Storage_RPI_GB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Just Storage RPI (GB) Null</defaultConnectorLabel>
        <rules>
            <name>Both_RPI_GB_Fields_Are_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Solar_GB_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_GB_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Both_RPI_GB_Fields</targetReference>
            </connector>
            <label>Both RPI (GB) Fields Are Null</label>
        </rules>
        <rules>
            <name>Just_Solar_RPI_GB_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Solar_GB_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Solar_RPI_GB</targetReference>
            </connector>
            <label>Just Solar RPI (GB) Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_RPI_IE_Fields_Are_Null</name>
        <label>Which RPI (IE) Fields Are Null?</label>
        <locationX>314</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Update_Storage_RPI_IE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Just Storage RPI (IE) Null</defaultConnectorLabel>
        <rules>
            <name>Both_RPI_IE_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Solar_IE_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_IE_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Both_RPI_IE_Fields</targetReference>
            </connector>
            <label>Both RPI (IE) Null</label>
        </rules>
        <rules>
            <name>Just_Solar_RPI_IE_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Solar_IE_RPI_Inflation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Solar_RPI_IE</targetReference>
            </connector>
            <label>Just Solar RPI (IE) Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Investor Account - Onshore Inflation Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Investor Account - Onshore Inflation Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Both_CPI_GB_Fields</name>
        <label>Update Both CPI (GB) Fields</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>CPI_IE</targetReference>
        </connector>
        <inputAssignments>
            <field>Solar_GB_CPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_GB_CPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_GB_CPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_GB_CPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Both_CPI_IE_Fields</name>
        <label>Update Both CPI (IE) Fields</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>RPI_GB</targetReference>
        </connector>
        <inputAssignments>
            <field>Solar_IE_CPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_IE_CPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_IE_CPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_IE_CPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Both_RPI_GB_Fields</name>
        <label>Update Both RPI (GB) Fields</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>RPI_IE</targetReference>
        </connector>
        <inputAssignments>
            <field>Solar_GB_RPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_GB_RPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_GB_RPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_GB_RPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Both_RPI_IE_Fields</name>
        <label>Update Both RPI (IE) Fields</label>
        <locationX>50</locationX>
        <locationY>2207</locationY>
        <inputAssignments>
            <field>Solar_IE_RPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_IE_RPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_IE_RPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_IE_RPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Solar_CPI_GB</name>
        <label>Update Solar CPI (GB)</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>CPI_IE</targetReference>
        </connector>
        <inputAssignments>
            <field>Solar_GB_CPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_GB_CPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Solar_CPI_IE</name>
        <label>Update Solar CPI (IE)</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>RPI_GB</targetReference>
        </connector>
        <inputAssignments>
            <field>Solar_IE_CPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_IE_CPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Solar_RPI_GB</name>
        <label>Update Solar RPI (GB)</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>RPI_IE</targetReference>
        </connector>
        <inputAssignments>
            <field>Solar_GB_RPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_GB_RPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Solar_RPI_IE</name>
        <label>Update Solar RPI (IE)</label>
        <locationX>314</locationX>
        <locationY>2207</locationY>
        <inputAssignments>
            <field>Solar_IE_RPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_IE_RPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Storage_CPI_GB</name>
        <label>Update Storage CPI (GB)</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>CPI_IE</targetReference>
        </connector>
        <inputAssignments>
            <field>Storage_GB_CPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_GB_CPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Storage_CPI_IE</name>
        <label>Update Storage CPI (IE)</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>RPI_GB</targetReference>
        </connector>
        <inputAssignments>
            <field>Storage_IE_CPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_IE_CPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Storage_RPI_GB</name>
        <label>Update Storage RPI (GB)</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>RPI_IE</targetReference>
        </connector>
        <inputAssignments>
            <field>Storage_GB_RPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_GB_RPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Storage_RPI_IE</name>
        <label>Update Storage RPI (IE)</label>
        <locationX>578</locationX>
        <locationY>2207</locationY>
        <inputAssignments>
            <field>Storage_IE_RPI_Inflation__c</field>
            <value>
                <elementReference>$Record.Onshore_IE_RPI_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CPI_GB</targetReference>
        </connector>
        <filterFormula>IF( AND( ISCHANGED( {!$Record.Onshore_GB_CPI_Inflation__c}), NOT( ISNULL( {!$Record.Onshore_GB_CPI_Inflation__c})), OR( ISNULL({!$Record.Solar_GB_CPI_Inflation__c}), ISNULL({!$Record.Storage_GB_CPI_Inflation__c}))), TRUE, 
IF(AND( ISCHANGED( {!$Record.Onshore_IE_CPI_Inflation__c}), NOT( ISNULL( {!$Record.Onshore_IE_CPI_Inflation__c})), OR( ISNULL({!$Record.Solar_IE_CPI_Inflation__c}), ISNULL({!$Record.Storage_IE_CPI_Inflation__c}))), TRUE, 
IF(AND( ISCHANGED( {!$Record.Onshore_GB_RPI_Inflation__c}), NOT( ISNULL( {!$Record.Onshore_GB_RPI_Inflation__c})), OR( ISNULL({!$Record.Solar_GB_RPI_Inflation__c}), ISNULL({!$Record.Storage_GB_RPI_Inflation__c}))), TRUE, 
IF(AND( ISCHANGED( {!$Record.Onshore_IE_RPI_Inflation__c}), NOT( ISNULL( {!$Record.Onshore_IE_RPI_Inflation__c})), OR( ISNULL({!$Record.Solar_IE_RPI_Inflation__c}), ISNULL({!$Record.Storage_IE_RPI_Inflation__c}))), TRUE, FALSE))))</filterFormula>
        <object>Investor_Account__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
