flows/Milestone_Attatchment_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignMilestoneId_0</name>
        <label>AssignMilestoneId</label>
        <locationX>728</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>AttachmentObj.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MilestoneId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAttatchmentValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyAttatchmentValues</name>
        <label>CopyAttatchmentValues</label>
        <locationX>623</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>AttachmentListFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttachmentObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughEachAttachment_0</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Milestone Attatchment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Milestone Attatchment Flow3</label>
    <loops>
        <name>IterateThroughEachAttachment_0</name>
        <label>IterateThroughEachAttachment</label>
        <locationX>483</locationX>
        <locationY>24</locationY>
        <assignNextValueToReference>AttachmentObj</assignNextValueToReference>
        <collectionReference>AttatchmentList</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignMilestoneId_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAllAttachments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindAttachments</name>
        <label>FindAttachments</label>
        <locationX>229</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateThroughEachAttachment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>Attachment</object>
        <outputReference>AttatchmentList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>ContentType</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BodyLength</queriedFields>
        <queriedFields>IsPrivate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupMilestoneId</name>
        <label>LookupMilestoneId</label>
        <locationX>32</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindAttachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Price Request - Empire solar pr - 4.98(MW)</stringValue>
            </value>
        </filters>
        <object>Milestone1_Milestone__c</object>
        <outputAssignments>
            <assignToReference>MilestoneId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllAttachments</name>
        <label>UpdateAllAttachments</label>
        <locationX>413</locationX>
        <locationY>333</locationY>
        <inputReference>AttachmentListFinal</inputReference>
    </recordUpdates>
    <startElementReference>LookupMilestoneId</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AttachmentListFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>AttachmentObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>AttatchmentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>MilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MilestoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
