flows/Multiple_Contacts_on_Events.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignNewValues</name>
        <label>AssignNewValues</label>
        <locationX>755</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>finalVarListOfNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughEveryRelationObj</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LeadorContact</name>
        <label>LeadorContact</label>
        <locationX>43</locationX>
        <locationY>33</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WhoID_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindEventWhoRelation</targetReference>
            </connector>
            <label>WhoID_Contact</label>
        </rules>
        <rules>
            <name>WhoID_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupLead</targetReference>
            </connector>
            <label>WhoID_Lead</label>
        </rules>
    </decisions>
    <formulas>
        <name>Space</name>
        <dataType>String</dataType>
        <expression>&apos;, &apos;</expression>
    </formulas>
    <interviewLabel>Multiple Contacts on Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attendee List for Events Final</label>
    <loops>
        <name>IterateThroughEveryRelationObj</name>
        <label>IterateThroughEveryRelationObj</label>
        <locationX>516</locationX>
        <locationY>44</locationY>
        <assignNextValueToReference>LoopWhoRelationObj_Event</assignNextValueToReference>
        <collectionReference>ListWhoRelationObjs_Event</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateEventRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindContact</name>
        <label>FindContact</label>
        <locationX>774</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNewValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopWhoRelationObj_Event.RelationId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>NameString</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindEventWhoRelation</name>
        <label>FindEventWhoRelation</label>
        <locationX>321</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateThroughEveryRelationObj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <object>EventWhoRelation</object>
        <outputReference>ListWhoRelationObjs_Event</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>RelationId</queriedFields>
        <queriedFields>EventId</queriedFields>
        <sortField>RelationId</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>LookupLead</name>
        <label>LookupLead</label>
        <locationX>37</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateAttendeeList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>LeadObject</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAttendeeList</name>
        <label>UpdateAttendeeList</label>
        <locationX>45</locationX>
        <locationY>401</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attendees_List__c</field>
            <value>
                <elementReference>LeadObject.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEventRecord</name>
        <label>UpdateEventRecord</label>
        <locationX>587</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attendees_List__c</field>
            <value>
                <elementReference>finalVarListOfNames</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <startElementReference>LeadorContact</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttNames</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!NameString}{!Space}</text>
    </textTemplates>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>finalVarListOfNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ListWhoRelationObjs_Event</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EventWhoRelation</objectType>
    </variables>
    <variables>
        <name>LoopWhoRelationObj_Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EventWhoRelation</objectType>
    </variables>
    <variables>
        <name>NameString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WhoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
