flows/Multiple_Contacts_on_Tasks.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignNewValues</name>
        <label>AssignNewValues</label>
        <locationX>721</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>finalVarListOfNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughEveryRelationObj</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LeadOrContact_0</name>
        <label>LeadOrContact</label>
        <locationX>32</locationX>
        <locationY>44</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WhoID_IsContact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindTaskWhoRelation</targetReference>
            </connector>
            <label>WhoID_IsContact</label>
        </rules>
        <rules>
            <name>WhoID_IsLead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupLead</targetReference>
            </connector>
            <label>WhoID_IsLead</label>
        </rules>
    </decisions>
    <formulas>
        <name>Space</name>
        <dataType>String</dataType>
        <expression>&apos;, &apos;</expression>
    </formulas>
    <interviewLabel>Multiple Contacts on Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Additional Attendees on Tasks Final</label>
    <loops>
        <name>IterateThroughEveryRelationObj</name>
        <label>IterateThroughEveryRelationObj</label>
        <locationX>509</locationX>
        <locationY>56</locationY>
        <assignNextValueToReference>LoopWhoRelationObj</assignNextValueToReference>
        <collectionReference>ListRelationalTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindContact_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTaskRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindContact_0</name>
        <label>FindContact</label>
        <locationX>810</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNewValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopWhoRelationObj.RelationId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>NameString</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindTaskWhoRelation</name>
        <label>FindTaskWhoRelation</label>
        <locationX>298</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateThroughEveryRelationObj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>TaskWhoRelation</object>
        <outputReference>ListRelationalTasks</outputReference>
        <queriedFields>TaskId</queriedFields>
        <queriedFields>RelationId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>RelationId</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>LookupLead</name>
        <label>LookupLead</label>
        <locationX>38</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateTaskRecord_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>LeadObject</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTaskRecord</name>
        <label>UpdateTaskRecord</label>
        <locationX>457</locationX>
        <locationY>446</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attendees_List__c</field>
            <value>
                <elementReference>finalVarListOfNames</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTaskRecord_0</name>
        <label>UpdateTaskRecord</label>
        <locationX>41</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attendees_List__c</field>
            <value>
                <elementReference>LeadObject.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>LeadOrContact_0</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttNames</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!NameString}{!Space}</text>
    </textTemplates>
    <variables>
        <name>finalVarListOfNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ListRelationalTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TaskWhoRelation</objectType>
    </variables>
    <variables>
        <name>LoopWhoRelationObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TaskWhoRelation</objectType>
    </variables>
    <variables>
        <name>NameString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WhoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
