flows/Project_Dev_Update_Dev_Manager.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Project Dev - Update Dev. Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Dev - Update Dev. Manager</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindPriorDevelopmentManager</name>
        <label>FindPriorDevelopmentManager</label>
        <locationX>126</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindRESContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Development_Manager_Full_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>RES_Projects__c</object>
        <outputAssignments>
            <assignToReference>ManagerFullName</assignToReference>
            <field>Development_Manager_Full_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindRESContactId</name>
        <label>FindRESContactId</label>
        <locationX>129</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManagerFullName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProject</name>
        <label>UpdateProject</label>
        <locationX>127</locationX>
        <locationY>380</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Development_Manager__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>RES_Projects__c</object>
    </recordUpdates>
    <startElementReference>FindPriorDevelopmentManager</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ManagerFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RES_Projects__c</objectType>
    </variables>
</Flow>
