flows/SS_Display_Asset_Capacity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Records_Retrieved</name>
        <label>Records Retrieved?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varJunctionObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Junction_Objects</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created for the SS Assets for Opportunities junction object</description>
    <interviewLabel>SS Display Asset Capacity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SS Display Asset Capacity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Display_Capacity_of_Junction_Objects</name>
        <label>Get &quot;Display Capacity&quot; of Junction Objects</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Retrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Support_Services_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>SS_Assets_for_Opportunity__c</object>
        <outputReference>varJunctionObjects</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Display_Asset_Capacity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Junction_Objects</name>
        <label>Update Junction Objects</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputReference>varJunctionObjects</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Display_Capacity_of_Junction_Objects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Capacity_MW__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Support_Services_Asset__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varJunctionObjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SS_Assets_for_Opportunity__c</objectType>
    </variables>
</Flow>
