flows/UpdateOppRank_Decrease.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CopyUpdateRank</name>
        <label>CopyUpdateRank</label>
        <locationX>706</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>listFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopObjOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughAllOpps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRank</name>
        <label>UpdateRank</label>
        <locationX>698</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>LoopObjOpp.Rank__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyUpdateRank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionRankDecrease</name>
        <label>DecisionRankDecrease</label>
        <locationX>34</locationX>
        <locationY>29</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RankDecreased</name>
            <conditionLogic>1 AND (2 OR  3)</conditionLogic>
            <conditions>
                <leftValueReference>PriorOppRank</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOppRank</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOppRank</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>PriorOppRank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllOppRecords</targetReference>
            </connector>
            <label>RankDecreased</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateOppRank-Decrease {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOppRank-Decrease1</label>
    <loops>
        <name>IterateThroughAllOpps</name>
        <label>IterateThroughAllOpps</label>
        <locationX>438</locationX>
        <locationY>142</locationY>
        <assignNextValueToReference>LoopObjOpp</assignNextValueToReference>
        <collectionReference>listOppRank2</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateRank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAllOpps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllOppRecords</name>
        <label>GetAllOppRecords</label>
        <locationX>245</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateThroughAllOpps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RES_Geography__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessUnitFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rank__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentOppRank</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rank__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>PriorOppRank</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>listOppRank2</outputReference>
        <queriedFields>Rank__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllOpps</name>
        <label>UpdateAllOpps</label>
        <locationX>457</locationX>
        <locationY>336</locationY>
        <inputReference>listFinal</inputReference>
    </recordUpdates>
    <startElementReference>DecisionRankDecrease</startElementReference>
    <status>Active</status>
    <variables>
        <name>BusinessUnitFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentOppRank</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>listFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>listOppRank2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>LoopObjOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriorOppRank</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
