flows/UpdateOppRank.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CopyRankValues</name>
        <label>CopyRankValues</label>
        <locationX>947</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>listOppRankFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOppObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughAllOpps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyRankValues_1</name>
        <label>CopyRankValues</label>
        <locationX>463</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>listOppRankFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOppObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughAllOpps_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRank</name>
        <label>UpdateRank</label>
        <locationX>794</locationX>
        <locationY>2</locationY>
        <assignmentItems>
            <assignToReference>LoopOppObj.Rank__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyRankValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRank_1</name>
        <label>UpdateRank</label>
        <locationX>480</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>LoopOppObj.Rank__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyRankValues_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>PriorityRankDecision</name>
        <label>PriorityRankDecision</label>
        <locationX>21</locationX>
        <locationY>1</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NullPrior</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>PriorOppRank</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOppRank</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorOppRank</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllExistingOppRanks_1</targetReference>
            </connector>
            <label>NullPrior</label>
        </rules>
        <rules>
            <name>IncreasedPriority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorOppRank</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentOppRank</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOppRank</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllExistingOppRanks</targetReference>
            </connector>
            <label>IncreasedPriority</label>
        </rules>
        <rules>
            <name>DecreasedPriority</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>PriorOppRank</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CurrentOppRank</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOppRank</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorOppRank</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>DecreasedPriority</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateOppRank {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOppRank-Increase1</label>
    <loops>
        <name>IterateThroughAllOpps</name>
        <label>IterateThroughAllOpps</label>
        <locationX>564</locationX>
        <locationY>27</locationY>
        <assignNextValueToReference>LoopOppObj</assignNextValueToReference>
        <collectionReference>listOppRank</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateRank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAllOpps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterateThroughAllOpps_1</name>
        <label>IterateThroughAllOpps</label>
        <locationX>292</locationX>
        <locationY>194</locationY>
        <assignNextValueToReference>LoopOppObj</assignNextValueToReference>
        <collectionReference>listOppRank</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateRank_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAllOpps_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllExistingOppRanks</name>
        <label>GetAllExistingOppRanks</label>
        <locationX>380</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateThroughAllOpps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RES_Geography__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessUnitFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rank__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentOppRank</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rank__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>PriorOppRank</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>listOppRank</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rank__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAllExistingOppRanks_1</name>
        <label>GetAllExistingOppRanks</label>
        <locationX>72</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateThroughAllOpps_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RES_Geography__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessUnitFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rank__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentOppRank</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>listOppRank</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rank__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllOpps</name>
        <label>UpdateAllOpps</label>
        <locationX>780</locationX>
        <locationY>101</locationY>
        <inputReference>listOppRankFinal</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAllOpps_1</name>
        <label>UpdateAllOpps</label>
        <locationX>305</locationX>
        <locationY>405</locationY>
        <inputReference>listOppRankFinal</inputReference>
    </recordUpdates>
    <startElementReference>PriorityRankDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>BusinessUnitFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentOppRank</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>listOppRank</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ListOppRank2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>listOppRankFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>listOppRankFinal2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>LoopOppObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriorOppRank</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
